asn1crypto==0.24.0
beautifulsoup4==4.7.1
blinker==1.4
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
cryptography==2.6.1
DateTime==4.3
Flask==1.0.2
Flask-DebugToolbar==0.10.1
Flask-SQLAlchemy==2.3.2
ibm-cloud-sdk-core==0.4.0
ibm-watson==3.0.3
idna==2.5
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
newsapi-python==0.2.3
pkg-resources==0.0.0
pprint==0.1
psycopg2==2.8.2
pycparser==2.19
pyOpenSSL==19.0.0
python-dateutil==2.8.0
pytz==2019.1
requests==2.17.1
schedule==0.6.0
six==1.12.0
soupsieve==1.9
SQLAlchemy==1.3.2
tzlocal==1.5.1
urllib3==1.21.1
watson-developer-cloud==2.8.1
websocket-client==0.48.0
Werkzeug==0.15.2
zope.interface==4.6.0
