#tone-profile {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center; 
}

#bubble-tone {
  padding:0;
}


#disappear-first, #disappear-second, #disappear-third, #disappear-fourth, #disappear-fifth {
  padding:0;
}
@media (max-width: 1440px) {
    #disappear-first {
      display: none;
    } 
}
@media (max-width: 1320px) {
    #disappear-second {
      display: none;
    } 
}
@media (max-width: 1220px) {
    #disappear-third {
      display: none;
    } 
}
@media (max-width: 1100px) {
    #disappear-fourth {
      display: none;
    } 
}
@media (max-width: 980px) {
    #disappear-fifth {
      display: none;
    } 
}
@media (max-width: 840) {
  #pop {
    border-radius: 80px;
  }
}

