#heading h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

@media (max-width: 560px) {
    #heading h1 {
        text-align: center;
        font-size: 40px;
        font-family: 'BlackLetter';
    }
}

@media (min-width: 561px) {
    #heading h1 {
        text-align: center;
        font-size: 80px;
        font-family: 'BlackLetter';
    }
}

#heading-tone {
    padding-top: 15px;
}