#tone-profile {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center; 
}

#bubble-tone {
  padding:0;
}

#todays-news-header {
    padding-top: 15px;
}

@media (max-width: 560px) {
    #todays-news-header {
        padding-top: 10px;
    }
    #todays-news-header h2 {
        font-size: 30px;
    }
          
}