h2, h3, h4, h5 {
    text-align: center;
}

#heading h1 {
    text-align: center;
    font-size: 80px;
    font-family: 'BlackLetter';
}

#tone-profile {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center; 
}

/* To hide sidebar in small screen views */
@media (min-width: 696px) {
    .side-bar {
        display: none;
    }
}

#homepage-bubbles {
  column-width: 120px;
}

#bubble-col-1 .row {
  padding-right: 0px;
  padding-left: 4px;
  box-sizing: inherit;
  box-sizing: inherit
}
#bubble-col-2 {
  padding-right: 0px;
  padding-left: 4px;
  box-sizing: inherit;

}
#bubble-col-3 {
  padding-right: 0px;
  padding-left: 4px;
  box-sizing: inherit;
}
#bubble-col-4 {
  padding-right: 0px;
  padding-left: 4px;
  box-sizing: inherit;
}
#bubble-col-5 {
  padding-right: 0px;
  padding-left: 4px;
  box-sizing: inherit;
}
#bubble-col-6 {
  padding-right: 0px;
  padding-left: 4px;
  box-sizing: inherit;
}
#mixed-bubble-1 {
  padding-right: 0px;
  padding-left: 4px;
  box-sizing: inherit;
}
#mixed-bubble-2 {
  padding-right: 0px;
  padding-left: 4px;
  box-sizing: inherit;
}
#mixed-bubble-3 {
  padding-right: 0px;
  padding-left: 4px;
  box-sizing: inherit;
}
#mixed-bubble-4 {
  padding-right: 0px;
  padding-left: 4px;
  box-sizing: inherit;
}
#mixed-bubble-5 {
  padding-right: 0px;
  padding-left: 4px;
  box-sizing: inherit;
}
#mixed-bubble-6 {
  padding-right: 0px;
  padding-left: 4px;
  box-sizing: inherit;
}


@media (max-width: 1440px) {
    #bubble-col-6 {
      display: none;
    } 
}
@media (max-width: 1320px) {
    #bubble-col-1 {
      display: none;
    } 
}
@media (max-width: 1220px) {
    #bubble-col-5 {
      display: none;
    } 
}
@media (max-width: 1100px) {
    #bubble-col-2 {
      display: none;
    } 
}
@media (max-width: 980px) {
    #bubble-col-4 {
      display: none;
    } 
}
@media (max-width: 860px) {
    #bubble-col-3 {
      display: none;
    } 
}
/*@media (max-width: 799px) {
    #mixed-bubble {
      display: ;
    } 
}*/