h2, h3, h4, h5 {
    text-align: center;
}

#homepage-source-form {
  font-size: 1rem;
  align-items: center;
}
#source-form {
  font-size: 10px;
}

@media (max-width: 695px) {
    #heading h1 {
        text-align: center;
        font-size: 3rem;
        font-family: 'BlackLetter';
    }

    #secondary-heading h2 {
      text-align: center;
      font-size: 1rem;
    }
    #secondary-heading h5 {
      text-align: center;
      font-size: 0.7rem;
      color:grey;
    }

    #tertiary-heading h3 {
      text-align: center;
      font-size: 1rem;
    }

    #tertiary-heading a {
      font-size: 1rem;
    }

    #tertiary-heading h4 {
      padding-bottom: 10px;
    }
}

#tertiary-heading a {
    color:grey;
}

@media (min-width: 696px) {
  #tertiary-heading h4 {
    padding-bottom: 1rem;
  }
}
#tone-profile {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center; 
}

#news-today-heading {
  padding-top: 10px;
}

a {
    color:grey;
}

#tone-descripton-link p {
  font-size: 10px;
  padding-top: 10px;
}
/* To hide sidebar in small screen views */
@media (min-width: 696px) {
    .side-bar {
        display: none;
    }
    #heading h1 {
        text-align: center;
        font-size: 5rem;
        font-family: 'BlackLetter';
    }
    #secondary-heading h2 {
        font-size: 3rem;
    }
    #tertiary-heading h3 {
      text-align: center;
      font-size: 2rem;
    }
    #secondary-heading h5 {
      text-align: center;
      font-size: 0.7rem;
      color:grey;
    }
}

@media (max-width: 350px) {
    #heading h1 {
        text-align: center;
        font-size: 2rem;
        font-family: 'BlackLetter';
    }
    #secondary-heading h4 {
        font-size: 1rem;
    }
    #tertiary-heading h4 {
      text-align: center;
      font-size: 1rem;
    }
    #tertiary-heading a {
      font-size: 1rem;
    }
    #secondary-heading h5 {
      text-align: center;
      font-size: 0.7rem;
      color:grey;
    }
}