h2, h3 {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 80px;
    font-family: 'BlackLetter';
}

.btn-circle {
  width: 120px;
  height: 120px;
  text-align: center;
  padding: 6px 6px;
  font-size: 18px;
  line-height: 1.42;
  border-radius: 120px;
}

#CircleButton {
    align-content: center;
}

#tone-profile {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center; 
}

/*@font-face {
  font-family: 'BlackLetter';
  font-style: normal;
  font-weight: normal;
  src:
    local('BlackLetter'),
    local('BlackLetter'),
    url(./Plain_Black.ttf)
    format('ttf');
}
*/