h2, h3, h4, h5 {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 80px;
    font-family: 'BlackLetter';
}

#tone-profile {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center; 
}

/*@font-face {
  font-family: 'BlackLetter';
  font-style: normal;
  font-weight: normal;
  src:
    local('BlackLetter'),
    local('BlackLetter'),
    url(./Plain_Black.ttf)
    format('ttf');
}
*/