html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
}

/*.heading {
    text-align: center;
}*/

/*main svg {
    overflow: visible;
}*/

.stats {
    text-align: center;
}

#weighted-pie-statement {
    text-align: center;
}

h2 {
    text-align: center;
}

