ul.pagination {
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    li.page-item.active {
        a.page-link {
            color: saturate(darken($base-color, 50%), 5%) !important;
            background-color: saturate(lighten($base-color, 7.5%), 2.5%) !important;
            border-color: $base-color !important;
        }
    }

    a.page-link {
        padding: 0rem 0rem;
        min-width: 3.5rem;
        text-align: center;
        box-shadow: none !important;
        border-color: $base-color !important;
        color: saturate(darken($base-color, 30%), 10%);
        font-weight: 900;
        font-size: 1rem;

        &:hover {
            background-color: $light-background;
        }
    }
}

#news-article {
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 4px 9px 16px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#news-article h5, h6 {
    text-align: left;
}

#news-article img {
  height: 250px;
  width: auto;
  border: none;
  margin-top: 15px;
  margin-bottom: 15px;
  /*box-shadow: 4px 9px 16px 0 rgba(0, 0, 0, 0.25);*/
  /*border-radius: 10px;*/
}

#article-title {
    padding-top: 7px;
    background: rgba(180, 184, 197, 0.8);
    /*opacity: 0.5;*/
    /*box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);*/
    border-radius: 10px 10px 0 0 ;
    /*margin-bottom: 7px;*/
}

#news-info-row {
    background: rgba(180, 184, 197, 0.5);
}

#news-info-row h6 {
    padding-top: 10px;
    text-align: left;
    font-family: 'initial';
}

#bubblechart svg {
    height: 250px;
    width: 300px;
}
.page-bar {
    padding-bottom: 10px;
}

#news-info-row a {
    color: #474546;
}

#news-info-row a:hover,
#news-info-row a:active {
    color: #58595B;
}

#news-title-row a {
    color: #36373b;
    font-family: 'initial';
}

#news-title-row a:hover,
#news-title-row a:active {
    color: #58595B;
}

