#news-article {
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 4px 9px 16px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#news-article h5, h6 {
    text-align: left;
    position: relative;
}
.page-link {
    color: black;
}
.page-item.active .page-link {
    background-color: black;
    border-color: black;
}


@media (max-width: 560px) {
    #news-article img {
        height: auto;
        width: 100px;
        border:none;
        margin-top: 5px;
        margin-bottom: 5px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
    .text-secondary {
        font-size: 1rem;
    }
    #article-title {
        padding-top: 5px;
        background: black;
    }
    #article-title h5 {
        font-size: 0.8rem;
    }
    #news-info-row h6 {
        padding-top: 8px;
        text-align: left;
        font-family: sans-serif;
        font-size: 0.7rem;
    }
    ul.pagination {
        margin-top: 0;
        margin-bottom: 0;
        /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);*/
        font-size: 0.5rem;
        float: right;
        padding-bottom: 0;
        padding-top: 0;
        /*margin-right: 10%;*/

        li.page-item.active {
            background-color: black;
            a.page-link {
                /*color: saturate(darken($base-color, 50%), 5%) !important;*/
                /*background-color: saturate(lighten($base-color, 7.5%), 2.5%) !important;*/
                /*border-color: $base-color !important;*/
            }
        }

        a.page-link {
            padding: 0rem 0rem;
            min-width: 3.5rem;
            text-align: center;
            box-shadow: none !important;
            /*border-color: $base-color !important;*/
            /*color: saturate(darken($base-color, 30%), 10%);*/
            font-weight: 900;
            

            &:hover {
                background-color: $light-background;
            }
        }
    }
}

@media (min-width: 561px) {
    #news-article img {
        height: 250px;
        width: auto;
        border: none;
        margin-top: 15px;
        margin-bottom: 15px;
        /*box-shadow: 4px 9px 16px 0 rgba(0, 0, 0, 0.25);*/
        /*border-radius: 10px;*/
    }
    #news-article {
        max-width: 80%;
        margin-left: 10%;
    }
    .page-of-page {
        margin-right: 10%;
        padding-right: 10px;
    }
    .text-secondary {
        font-size: 1.5rem;
    }
    #article-title {
        padding-top: 7px;
        background: black;
    }
    #news-info-row h6 {
        padding-top: 10px;
        text-align: left;
        font-family: sans-serif;
    }

    ul.pagination {
        margin-top: 0;
        margin-bottom: 0;
        /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);*/
        font-size: 1rem;
        float: right;
        padding-bottom: 0;
        padding-top: 0;
        margin-right: 10%;
        /*background-color: black;*/

        li.page-item.active {
            a.page-link {
                /*color: saturate(darken($base-color, 50%), 5%) !important;*/
                /*background-color: saturate(lighten($base-color, 7.5%), 2.5%) !important;*/
                /*border-color: $base-color !important;*/
            }
        }

        a.page-link {
            padding: 0rem 0rem;
            min-width: 3.5rem;
            text-align: center;
            box-shadow: none !important;
            /*border-color: $base-color !important;*/
            /*color: saturate(darken($base-color, 30%), 10%);*/
            font-weight: 1100;
            

            &:hover {
                background-color: $light-background;
            }
        }
    }
}

.page-bar {
    padding-bottom: 10px;
}

#news-info-row a {
    color: #474546;
}

#news-info-row a:hover,
#news-info-row a:active {
    color: #58595B;
}

#news-title-row a {
    color: #36373b;
    font-family: sans-serif;
}
#news-title-row a {
    color: white;
}

#article-title {
    border-radius: 10px 10px 0 0;
}

#news-title-row a:hover,
#news-title-row a:active {
    color: #58595B;
}

