ul.pagination {
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    li.page-item.active {
        a.page-link {
            color: saturate(darken($base-color, 50%), 5%) !important;
            background-color: saturate(lighten($base-color, 7.5%), 2.5%) !important;
            border-color: $base-color !important;
        }
    }

    a.page-link {
        padding: 0rem 0rem;
        min-width: 3.5rem;
        text-align: center;
        box-shadow: none !important;
        border-color: $base-color !important;
        color: saturate(darken($base-color, 30%), 10%);
        font-weight: 900;
        font-size: 1rem;

        &:hover {
            background-color: $light-background;
        }
    }
}

.page-bar {
    padding-bottom: 0;
}

#news-info-row a {
    color: #474546;

}

#news-info-row a:hover,
#news-info-row a:active {
    color: #58595B;
}

#news-title-row a {
    color: black;
    font-family: 'Roboto';
}

#news-title-row a:hover,
#news-title-row a:active {
    color: #58595B;
}

@media (max-width: 840px) {
    #Popover1 {
        font-size: 0.8rem;
        width:80px;height:80px;
        border-radius:80px;
        z-index: 200;
    }
    #selected-tone-popover {
      width:80px;height:80px;
      border: solid 1px #555;
      box-shadow: 5px -5px  rgba(0,0,0,0.6);
      -moz-box-shadow: 5px -5px  rgba(0,0,0,0.6);
      -webkit-box-shadow: 5px -5px  rgba(0,0,0,0.6);
      -o-box-shadow: 5px -5px  rgba(0,0,0,0.6);
      border-radius:80px;
      z-index: 200;
    }

}
@media (max-width: 450px) {
    #Popover1 {
        font-size: 0.2rem;
        text-align: center;
        width:50px;height:50px;
        border-radius:50px;
        z-index: 200;
    }
    #selected-tone-popover {
      width:50px;height:50px;
      border: solid 1px #555;
      box-shadow: 3px -3px  rgba(0,0,0,0.6);
      -moz-box-shadow: 3px -3px  rgba(0,0,0,0.6);
      -webkit-box-shadow: 3px -3px  rgba(0,0,0,0.6);
      -o-box-shadow: 3px -3px  rgba(0,0,0,0.6);
      border-radius:50px;
      z-index: 200;
    }

}
