#Popover1 a:hover, 
#Popover1 a:active {
    color: '#58595B'
}

@media (min-width:841px) {
    .btn-circle {
      width: 120px;
      height: 120px;
      text-align: center;
      font-size: 18px;
      line-height: 1.42;
      border-radius: 100px;
    }
}

/*.btn-circle {
  padding: 6px 6px;
}
*/
#selected-tone-popover b {
  border-style: solid;
  border-color: white;
  padding: 2px 2px 2px 2px;
  border:0 0 0 0;
}
@media (max-width:840px) {
    .btn-circle {
        width: 80px;
        height: 80px;
        text-align: center;
        /*padding: 6px 6px;*/
        font-size: 18px;
        line-height: 1.42;
        border-radius: 80px;
    }
}


#selected-tone-popover {
  width:120px;height:120px;
  /*border: solid 1px #555;*/
  /*box-shadow: 5px -5px  rgba(0,0,0,0.6);*/
  /*-moz-box-shadow: 5px -5px  rgba(0,0,0,0.6);*/
  /*-webkit-box-shadow: 5px -5px  rgba(0,0,0,0.6);*/
  /*-o-box-shadow: 5px -5px  rgba(0,0,0,0.6);*/
  border-radius:120px;
  /*z-index: 200;*/
  color: black;
}

#selected-tone-popover a:hover, 
#selected-tone-popover a:active {
    color: '#58595B'
}

@media (max-width: 840px) {
    #homepage-bubbles col {
      -webkit-column-width: 80px; /* Chrome, Safari, Opera */
      -moz-column-width: 80px; /* Firefox */
      column-width: 80px;
    }
    #bubble-tome div {
      -webkit-column-width: 80px; /* Chrome, Safari, Opera */
      -moz-column-width: 80px; /* Firefox */
      column-width: 80px;
    }
    #Popover1 {
        font-size: 0.8rem;
        width:80px;height:80px;
        border-radius:80px;
        z-index: 200;
    }
    #selected-tone-popover {
      width:80px;height:80px;
      /*border: solid 1px #555;*/
      /*box-shadow: 5px -5px  rgba(0,0,0,0.6);*/
      /*-moz-box-shadow: 5px -5px  rgba(0,0,0,0.6);*/
      /*-webkit-box-shadow: 5px -5px  rgba(0,0,0,0.6);*/
      /*-o-box-shadow: 5px -5px  rgba(0,0,0,0.6);*/
      border-radius:80px;
      /*z-index: 200;*/
      color: black;
    }
}

