#Popover1 a:hover, 
#Popover1 a:active {
    color: '#58595B'
}

#plain-button {
  background-color: #B4B8C5;
  border-color: #B4B8C5;
  opacity: 0.5;
  color: black;
}

#plain-button a {
    color: black;
}
#plain-button a:hover,
#plain-button a:active {
    color: white;
}