#Popover1 a:hover, 
#Popover1 a:active {
    color: '#58595B'
}

#plain-button {
  background-color: #B4B8C5;
  border-color: #B4B8C5;
  opacity: 0.5;
  color: black;
}

#plain-button a {
    color: black;
}
#plain-button a:hover,
#plain-button a:active {
    color: white;
}

#selected-tone-popover {
  width:120px;height:120px;
  border: solid 1px #555;
  box-shadow: 5px -5px  rgba(0,0,0,0.6);
  -moz-box-shadow: 5px -5px  rgba(0,0,0,0.6);
  -webkit-box-shadow: 5px -5px  rgba(0,0,0,0.6);
  -o-box-shadow: 5px -5px  rgba(0,0,0,0.6);
  border-radius:120px;
  z-index: 200;
}
#selected-tone-popover a:hover, 
#selected-tone-popover a:active {
    color: '#58595B'
}
/*#unselected-tone-popover {
  display: inline-block;
  text-align: center;
  border: none;
  border-radius: 100px;
}
*/
.btn-circle {
  width: 120px;
  height: 120px;
  text-align: center;
  padding: 6px 6px;
  font-size: 18px;
  line-height: 1.42;
  border-radius: 100px;
}

#CircleButton {
    align-content: center;
}

@media (max-width: 840px) {
    #Popover1 {
        font-size: 0.8rem;
        width:80px;height:80px;
        border-radius:80px;
        z-index: 200;
    }
    #selected-tone-popover {
      width:80px;height:80px;
      border: solid 1px #555;
      box-shadow: 5px -5px  rgba(0,0,0,0.6);
      -moz-box-shadow: 5px -5px  rgba(0,0,0,0.6);
      -webkit-box-shadow: 5px -5px  rgba(0,0,0,0.6);
      -o-box-shadow: 5px -5px  rgba(0,0,0,0.6);
      border-radius:80px;
      z-index: 200;
    }

}

@media (min-width: 501px) {
  #phone-popovers {
      display: none;
  }
}
@media (max-width: 500px) {
  #popovers {
      display: none;
  }
}
@media (max-width: 560px) {
    #Popover1 {
        font-size: 7px;
        text-align: center;
        width:50px;height:50px;
        border-radius:50px;
        z-index: 200;
    }
    #selected-tone-popover {
      width:50px;height:50px;
      border: solid 1px #555;
      box-shadow: 3px -3px  rgba(0,0,0,0.6);
      -moz-box-shadow: 3px -3px  rgba(0,0,0,0.6);
      -webkit-box-shadow: 3px -3px  rgba(0,0,0,0.6);
      -o-box-shadow: 3px -3px  rgba(0,0,0,0.6);
      border-radius:50px;
      z-index: 200;
    }

}
