.side-bar {
    height: 100%;
    background: white;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
    overflow-y: scroll;
    padding-top: 80px;
}

.sidebar_content h3 {
    text-align: left;
}

.side-bar.open {
    transform: translateX(0);
}

.side-bar ul {
    height: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sidebar-dropdown {
    border-color: black;
}

.side-bar li {
    margin: 0rem 0;
    font-size: 0.6rem;
}
.side-bar h3 {
    margin: 0.5rem 0;
    font-size: 0.8rem;
}

.side-bar a {
    color: #DC143C;
    text-decoration: none;
}

.side-bar a:hover,
.side-bar a:active {
    color: #58595B;
}

.side-bar label {
    font-size: 0.9rem;
}

/* To hide sidebar in small screen views */
@media (min-width: 749px) {
    .side-bar {
        display: none;
    }
}