
#spinner-1 {
    background-color: #76A0A0;
}
#spinner-2 {
    background-color: #768A67;
}
#spinner-3 {
    background-color: #A23E48;
}
#spinner-4 {
    background-color: #F6B621;
}
#spinner-5 {
    background-color: #595858;
}
#spinner-6 {
    background-color: #9F838C;
}
#spinner-7 {
    background-color: #C3BABA;
}

#spinner h4 {
    font-size: 16px;
}

#all-spinners {
    text-align: center;
}