.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #DC143C;
    height: 56px;
}

.toolbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.toolbar__logo {
    margin-left: 1rem;
}

.toolbar__logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.toolbar__navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex
}

.toolbar__navigation-items li {
    padding: 0 0.5rem;
}

.spacer {
    flex: 1;
}

.toolbar__navigation-items a {
    color: white;
    text-decoration: none;
}
.toolbar__navigation-items a:hover,
.toolbar__navigation-items a:active {
    color: #58595B;
}

/* To hide toolbar in small screen views */
@media (max-width: 768px) {
    .toolbar__navigation-items {
        display: none;
    }
}

/* To hide sidebar in big screen views */
/*@media (min-width: 769px) {
    .toolbar__toggle-button {
        display: none;
    }
    .toolbar__logo {
        margin-left: 0; 
    }
}*/