.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    height: 56px;
    z-index: 100;
    box-shadow: 2px 2px 3px grey;
    /*outline: black;*/
}

.toolbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
    /*border-bottom: 1px solid black;*/
}

.toolbar__logo {
    margin-left: 1rem;
}

.toolbar__logo a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

.toolbar__navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex
}

.toolbar__navigation-items li {
    padding: 0 0.5rem;
}

.spacer {
    flex: 1;
}

.toolbar__navigation-items a {
    color: black;
    text-decoration: none;
}
.toolbar__navigation-items a:hover,
.toolbar__navigation-items a:active {
    color: #58595B;
}
.toolbar__logo a:hover,
.toolbar__logo a:active {
    color: #58595B;
}

#scrollable-dropdown {
    height: 400px;
    overflow-y: scroll;
}
/* To hide toolbar in small screen views */
@media (max-width: 768px) {
    .toolbar__navigation-items {
        display: none;
    }
}

/* To hide sidebar in big screen views */
@media (min-width: 769px) {
    .toolbar__toggle-button {
        display: none;
    }
    .toolbar__logo {
        margin-left: 0; 
    }
}