div.img-container {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    width: 100%;
    max-width: 500px;
    height: 250px;
}

div.article {
  text-align: center;
  padding: 10px 20px;
}