{% block body %}

    <ul>
    {% for article in articles %}
        <li>
            <a href="{{article.url}}">{{article.title}}</a> <br>
            Published by: {{article.source}}, {{article.published.date()}}<br>
            <b>{{type}}</b>: 
            {% for score in article.scores %}
                {% if score.tone_id == chosen %}
                    <b>{{score.tone_id}} ({{score.score}})</b>
                {% endif %}
            {% endfor %} <br> other: <br>
            {% for score in article.scores %}
                {% if score.tone in filter %}
                    {{score.tone_id}} ({{score.score}}) <br>
                {% endif %}
            {% endfor %} <br>
            {% for score in article.scores %}
                {% if score.tone not in filter %}
                    {{score.tone_id}} ({{score.score}}) <br>
                {% endif %}
            {% endfor %} <br>
        </li>
    {% endfor %}
    </ul>

{% endblock %}
